.btn{
    margin-top: 4rem;
    margin-left: 2.5rem;
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    background: #ca3232;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.btn_1{
    width: 7%;
    height: 2.5rem;
    margin-left: -7rem;
    border: none;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background: none;
    color: #dbdbdb;
}

.back{
    width: 4rem;
    height: 3rem;
    margin-left: -2rem;
    margin-top: 1rem;
    border: none;
    border: 1px solid #dddddd;
    background: none;
    border-radius: 10px;
    color: white;
}
